@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@400;800&family=Roboto:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');


:root {
    --bg: #130f0d;
    --primary: #fd951f;
    --primary-opaque: rgba(250, 152, 5, 0.345);
    --white: #f0f0f9;
    
    font-size: 62.5%;
    
}



*, button, input {
    font-family: 'Roboto', sans-serif;
    
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--bg);
    color: var(--white);
}

header {

    margin-top: 3.2rem;
    text-align: center;
    padding-bottom: 6.4rem;
    color: var(--primary);
    animation: up 0.4s;
}

main{
    margin: 0 auto;
    width: 80vw;
    max-width: 96rem;
    animation: up 0.4s 0.2s backwards;

}

footer {
    margin-top: auto;
    text-align: center;
    padding: 5.12rem 0.25rem;
    animation: up 0.4s 0.4s backwards;
}
footer::after {
    content: "Feito por Eduardo Barroso";
    opacity: 0.6;
    font-size: 1.28rem;
}

@keyframes up {
    from{
        opacity: 0;
        transform: translateY(1.5rem);
    }
    to {
        opacity: 1;
    }
}

/*======= TAGS INPUT =============================================*/

.alert {
    position: absolute;
    top: 2rem;
    right: 2rem;


    background: var(--primary);
    width: 25rem;
    height: 7rem;

    border-radius: .5rem;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-duration: 0.7s;
}


@keyframes alert {
    0%{
        transform: translateX(100rem);
        opacity: 0;

    }
    
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.alert p {
    color: #f9f9f9;

    font-size: 1.3rem;
    font-weight: 600;
}

.alert div {
    position: absolute;

    bottom: 0;
    left: 0;
    /* border-radius: 0 0 0.5rem 0.5rem; */

    background: hsl(32, 100%, 39%);

    padding-top: .8rem;
    width: 100%;

    /* animation-name: timeBar; */
    animation-duration: 3s;
}

@keyframes timeBar {
    0% {
        width: 0;
    }
    
    100%{
        width: 100%;
    }

}


main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.tag-container,
.tagContainerList {
    min-height: 3rem;
    border: 0.2rem solid var(--primary-opaque);
    border-radius: 0.32rem;
    flex-wrap: wrap;

}

.tag-container {
    max-width: 60rem;
    min-width: 40rem; 

    display: flex;
    justify-content: center;

    padding: 0.64rem;
    overflow: auto;
    
}

.tagContainerList {
    max-height: 30rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    
    overflow-y: auto;
    padding: 1rem 0.64rem;
    /* background-color: #fd951f; */
}

.tag-container,
.tag-container .tag {
    background: rgba(0, 0, 0, 0.2);
    color: var(--white);

}

.tag-container .tag {
    margin: 0.64rem;
    padding: .64rem .96rem;
    border-bottom: 0.02rem solid var(--primary);

    font-size: 1.2rem;

    display: flex;
    align-items: center;
    word-break: break-all;
    
    cursor: default;
}


.tag i {
    font-size: 1.28rem;
    font-style: normal;

    padding-left: .64rem;

    transform: translateY(0.12rem);
    cursor: pointer;
    
}
.tag i:hover {
    color: var(--primary);
}

.close::after {
    content: "x";
    height: 2.4rem;
    width: 2.4rem;

}

.tag-container input {

    background-color: #a4a4a4;
    padding: .64rem 1.5rem;
    font-size: 1.92rem;
    
    border-radius: 4rem;
    outline: none;
    flex: 1;
    display: none;
    
    /* c show; */
    animation-duration: .7s;
    /* width: 0; */
   
}

@keyframes show {
 0% {
    width: 1rem;
 }
 100% {
    width: 22rem;
     
 }
}
@keyframes hide {
 0% {
    width: 22rem;
 }
 100% {
    width: 1rem;
     
 }
}

.tag-container .input:focus,
.tag-container .input:hover {
    border: .15rem solid var(--primary);
}

.show{
    padding-block: 2rem;
    display: flex;
    align-items: flex-end;
    
}

i.send {
    color: #fd951f;
    
    display: flex;
    font-size: 4rem;
    display: none;
    margin-left: 1rem;
    cursor: pointer;

}

.plus {
    color: #fd951f;
    font-size: 4rem;
    cursor: pointer;
    margin-left: 1rem;
    
}

main p {
    font-size: 1.5rem;
}